 #jumbo_Back
      {
        background-image:url('background.png');
        border: 1px solid #42413e;
        border-bottom-right-radius:0px;
        border-bottom-left-radius:0px;
        margin: auto;
        border-bottom: none;
      }
  
      ul.nav a{ curser:pointer; }

body
{
  height: 700px;
  background: black;
  background-size: cover;
}

      img
      {
        width:100%;
        height:auto;
      }

      #text_id
      {
        color:white;
      }

     .navbar-inverse
     {
      border-top-right-radius:0px;
      border-top-left-radius:0px;
     }
      
     a:hover, li:hover, .navbar-brand:hover
     {
      background-color: #006402;
     }

     .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        
        .jssora12l, .jssora12r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 30px;
            height: 46px;
            cursor: pointer;
            background: url('img/a12.png') no-repeat;
            overflow: hidden;
        }
        .jssora12l { background-position: -16px -37px; }
        .jssora12r { background-position: -75px -37px; }
        .jssora12l:hover { background-position: -136px -37px; }
        .jssora12r:hover { background-position: -195px -37px; }
        .jssora12l.jssora12ldn { background-position: -256px -37px; }
        .jssora12r.jssora12rdn { background-position: -315px -37px; }

        #jumbo
        {
          background-image: url('gray.jpg');
        }

        .back
        {
          background-image: url('back.jpg');
        }

        .affix {
          top: 0;
          width: 100%;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }

  
.imageContainer
{
  height: 800px;
  text-align: center;
  padding: 80px;
}

#MainMeme
{
  display: block;
  max-height:400px;
  width: auto;
  height: auto;
margin: auto;  
}

#nextButton
{
  height: 50px;
  width: 200px;
  border-radius: 5px;
  background: rgba(200, 200, 200, .6);
  color: black;
  font-family: "Times New Roman", serif;
  font-size: 1.6em;
  border: none;
}



#imageRow
{
  height: 400px;
  padding: 0px;
}

h2
{
  font-size: 2em;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: black;
}

button
{
  margin: 10px;
}

.fa-heart
{
  margin-left: 5px;
}

form
{
  margin: 0px;
  padding: 0px;
  border: 1px white solid;
  width: 200px;
}

