<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WeMime</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet" />
    <link href="{{url_for('static',filename='style.css')}}" rel="stylesheet" />
    <script src="style.js"></script>
    <script>
    function myFunction() {
        location.reload();
    }

</script>
</head>


<body style="padding:0px; margin:0px; font-family:Arial, sans-serif">

<nav class="navbar navbar-inverse" data-spy="affix" data-offset-top="197" style="margin-bottom: 0px;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="margin-right: 20px">MemeDB</a>
        <ul class="nav navbar-nav" id="test">
          <li class="active"><a href="{{url_for('index')}}" >The Dankest</a><li>
        </ul>
      </div>
    </nav>  

    <div class="imageContainer">
        <div class="row" id="imageRow">
            
            <img src="{{ URLid }}" id="MainMeme">

        </div>
        <div class="row" style="padding: 50px;">
            <button onclick="" id="nextButton">Like</button>
            <button onclick="myFunction()" id="nextButton">Next</button>

        </div>


    </div>



    <div class="container" style="margin-top: -5px;">
    <div class="jumbotron" id= "jumbo">
    <h2>Memes + Machine Learning + MongoDB = MemeDB</h2>

    <script type="text/javascript" src="{{url_for('static',filename='js1/jquery-1.9.1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static',filename='js1/jssor.slider.mini.js')}}"></script>
    <!-- use jssor.slider.debug.js instead for debug -->
   
    </div>
</div>
</body>
</html>